@tailwind base;
@tailwind components;
@tailwind utilities;

.check-hovered {
    @apply bg-gradient-to-br from-check-bg-start to-check-bg-end;
}


.scroll-tight {
    scrollbar-width: thin;
    /* Width of the scrollbar */
    scrollbar-color: hsl(236, 9%, 61%);
    /* Color of the scrollbar */
}

.scroll-tight::-webkit-scrollbar {
    width: 2px;
}

.scroll-tight::-webkit-scrollbar-thumb {
    background: hsl(236, 9%, 61%);
}